.Day, .schoolDay, .dayOneOrTwo, .logo{
    padding: 10px;
    display: inline-block;
}
.slide, .calendar{
    display: inline;
}              
.Day {
    background-color: rgb(56, 118, 29);
    border-style: solid;
    height: 15.55vh;
    width: 55.11vw;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-size: 2.8vw;
    font-size: 4.4vh;
    font-style: normal;
}
.schoolDay {
    background-color: rgb(56, 118, 29);
    width: 20vw;
    height: 15.55vh;
    border-style: solid;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    font-size: 2.8vw;
    font-size: 4.4vh;
}
.dayOneOrTwo {
    background-color: rgb(56, 118, 29);
    width: 17.9vw;
    height: 15.55vh;
    border-style: solid;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    font-size: 2.8vw;
    font-size: 4.4vh;
}
.weatherwidget-io {
    width: 99vw;
}
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden; 
    overflow-y: hidden;
}