.Day, .schoolDay, .dayOneOrTwo {
    display: inline-block; /*Makes the classes be aligned*/
}
.slide, .calendar{
    display: inline; /*Makes the google slide and calendar be aligned*/
    font-size: 0vw; /*Removes the white space between the calendar and slide*/
}         
.Day {
    background-color: rgb(56, 118, 29); /*WTCS Green*/
    height: 15.55vh; /*Height all the same for different classes*/
    width: 59.1vw;
    text-align: center; /*Centers the text*/
    font-family: "Archivo Black", sans-serif;
    font-size: 2.8vw;
    font-size: 4.5vh;
    float: left; /*Forces the text box to be the most left*/
    border-style: solid;
    border-width: 0.25vw;
}
.schoolDay {
    background-color: rgb(56, 118, 29);
    width: 25vw;
    height: 15.55vh;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-size: 2.8vw;
    font-size: 4.5vh;
    float: left; /*Forces the text box to be right next to the left most box to remove the white space*/
    border-style: solid;
    border-width: 0.25vw;
}
.dayOneOrTwo {
    background-color: rgb(56, 118, 29);
    width: 13vw;
    height: 15.55vh;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-size: 2.8vw;
    font-size: 4.5vh; 
    border-style: solid;
    border-width: 0.25vw;
}
.weatherwidget-io {
    width: 98.4vw;
}
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden; /*Makes the website fit to the tab size in the x direction*/
    overflow-y: hidden; /*Makes the website fit to the tab size in the y direction*/
}